In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

In [3]:
#df = pd.DataFrame(data, columns=['Name', 'Age'])

In [3]:
city_icao = [['Berlin',"EDDB",1],['Hamburg', "EDDH",2], ['London',"EGLL",3] , ['Manchester',"EGCC", 4] , ['Barcelona',"LEBL", 5]]
airports = pd.DataFrame(city_icao, columns = ['city_name','icao', 'cityid'])
airports

    city_name  icao  cityid
0      Berlin  EDDB       1
1     Hamburg  EDDH       2
2      London  EGLL       3
3  Manchester  EGCC       4
4   Barcelona  LEBL       5

In [16]:
schema="e_scooter"   # name of the database you want to use here
host="127.0.0.1"        # to connect to your local server
user="root"
password="saideshmukh16" # your password!!!!
port=3306
con = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

print("b")

b

In [17]:
airports.to_sql("airports", if_exists = "append", con = con, index = False)

5